name: Continuous Deployment

on:
  push:
    branches:
      main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/kritzeey/former-frontend:latest

      - name: Deploy to Azure via SSH
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.AZURE_VM_SSH_KEY }}
          script: |
            echo "${{ secrets.GITHUB_TOKEN }}" | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            sudo docker pull ghcr.io/kritzeey/former-frontend:latest

            sudo docker stop frontend || true

            sudo docker rm frontend || true
            
            sudo docker compose up -d

            sudo docker image prune -f
